{% extends 'base.html' %}
{% block content %}
<div class="hero flex items-centre justify-between">  
  <div class="left img flex-1 justify-center">  
    <img src="/static/img/photo .png" alt="Profile">  
  </div>  
  <div class="right flex-1">  
   </br><h6><a href="personnalite.html">L .  DJANGUE</a></h6>  
    <h1>Je suis un<br> <span>Developpeur</span></h1>
   <p> 
    Bienvenue sur mon site!</br> 
    Je suis Lionel DJANGUE, technicien en service informatique aux organisations(SIO) spécialité solutions logicielles et applications métiers. Résilient et parfois téméraire, je suis ouvert d'esprit et prêt à changer de perspective lorsque nécessaire. Mon hyperactivité, bien qu'elle soit parfois un défaut, me pousse à toujours chercher des solutions innovantes.
   </p>
   <p>
    En tant que technicien SIO, ma maîtrise des mathématiques et des algorithmes me permet d'appréhender les problèmes avec efficacité. Je suis compétent en création et maintenance de sites web, et en développement d'applications web et mobiles avec Django, Kivy, et React Native. J'utilise des technologies comme Bootstrap pour assurer un design responsive et des API telles que ChatGPT et OVH pour enrichir les fonctionnalités.</br>
    
    Je suis également familier avec Docker pour la gestion des conteneurs, et je maîtrise les langages SQL, PHP et Python pour la manipulation des données et le développement backend. Mes compétences en HTML5 et CSS me permettent de créer des interfaces utilisateur attractives, et j'ai une expérience pratique avec les plateformes matérielles telles qu'Arduino.</br>
    
    En résumé, je suis prêt à relever les défis et à proposer des solutions innovantes pour répondre aux besoins informatiques de votre entreprise.




    <div>  
      <button class="btn btn-secondary"><a href="cv.html">TELECHARGER LE CV</button></a> 
    </div>  
  </div>  
</div>
<section class="about">  
  <div class="container flex items-centre">  
    <div class="left flex-1 justify-right">  
      <img src="static/img/photo 1.png" height="400px" alt="profile pic">  
    </div>  
    <div class="right flex-1">  
      <h1>MindSet</h1>  
      <h3><span>Hello! c'est Re - moi ^^.</span></h3>  
      <p>Si tu pensais déjà tous savoir sur moi alors tu t'es trompé! Prêt à découvrir l'harmonie entre créativité et technologie? Suivez <a href="personnalite.html">le lien</a> pour plonger dans mon univers où chaque compétence technique est imprégnée d'une touche artistique. Ensemble, soyons les agents du changement que nous aspirons à voir dans ce monde. Plus nous braverons les obstacles de nos parcours aussi atypiques soient-ils, plus nous serons armés pour projeter notre vision et marcher sur les traces de nos prédécesseurs pionniers. Rejoignez-moi dans cette aventure passionnante! 🚀</br>
      N'hésitez pas à me suivre sur les réseaux sociaux si vous voulez en apprendre plus sur moi, et abonnez-vous!!:) 
      </p>  
      <div class="socials">  
        <a href="#"><img src="/static/img/facebook.jpg" width="40px"></a>  
        <a href="#"><img src="/static/img/instagram.jpg" width="40px"></a>  
        <a href="#"><img src="/static/img/twitter.jpg" width="40px" height="40"></a>  
        <a href="#"><img src="/static/img/snapchat.jpg" width="40px"></a>  
      </div>  
    </div>  
  </div>
</section>
    {% endblock %}